<div id="menu">	
	<dl class="fore1">		
		<dt id="_MYJD_order">订单中心</dt>		
		<dd class="fore1_1">			
			<a href="#">我的订单</a>		
		</dd>		
		<dd class="fore1_2">			
			<a href="#">团购订单</a>		
		</dd>		
		<dd class="fore1_3">			
			<a href="#">本地生活订单</a>		
		</dd>		
		<dd class="fore1_4">			
			<a href="#">我的预售</a>		
		</dd>		
		<dd class="fore1_5">			
			<a href="#">评价晒单</a>		
		</dd>		
		<dd class="fore1_6">			
			<a href="#">取消订单记录</a>		
		</dd>	
	</dl>	
	<dl class="fore2">		
		<dt id="_MYJD_gz">关注中心</dt>		
		<dd class="fore2_1">			
			<a href="#">关注的商品</a>		
		</dd>		
		<dd class="fore2_2">			
			<a href="#">关注的店铺</a>		
		</dd>		
		<dd class="fore2_3">			
			<a href="#">关注的专辑&nbsp;<img width="24" height="11" src="images/myjd-new-ico.png"></a>		
		</dd>		
		<dd class="fore2_4">			
			<a href="#">关注的品牌</a>		
		</dd>		
		<dd class="fore2_5">			
			<a href="#">关注的活动</a>		
		</dd>		
		<dd class="fore2_6">			
			<a href="#">浏览历史</a>		
		</dd>	
	</dl>	
	<dl class="fore3">		
		<dt id="_MYJD_zc">资产中心</dt>		
		<dd class="fore3_1">			
			<a href="#">小金库</a>		
		</dd>		
		<dd class="fore3_2">
			<a href="#">京东白条</a>
		</dd>		
		<dd class="fore3_3" id="_MYJD_baina">			
			<a href="#">京东白拿&nbsp;<img width="24" height="11" src="images/myjd-new-ico.png"></a>		
		</dd>		
		<dd class="fore3_4">
			<a href="#">小白理财</a>
		</dd>		
		<dd class="fore3_5">			
			<a href="#">京东福卡</a>		
		</dd>		
		<dd class="fore3_6">			
			<a href="#">余额</a>		
		</dd>		
		<dd class="fore3_7">			
			<a href="#">优惠券</a>
			<b>(6)</b>		
		</dd>		
		<dd class="fore3_8">			
			<a href="#">京东卡/E卡</a>		
		</dd>		
		<dd class="fore3_9">		    
			<a href="#">京东图书卡</a>		
		</dd>		
		<dd class="fore3_10">			
			<a href="#">京豆</a>		
		</dd>	
	</dl>	
	<dl class="fore4">		
		<dt id="_MYJD_ts">特色业务</dt>		
		<dd class="fore4_1">			
			<a href="#">我的营业厅</a>		
		</dd>		
		<dd class="fore4_2">			
			<a href="#">京东通信</a>		
		</dd>		
		<dd class="fore4_3">
			<a href="#">定期送</a>		
		</dd>		
		<dd class="fore4_4">			
			<a href="#">京东代下单</a>		
		</dd>		
		<dd class="fore4_5">			
			<a href="#">我的回收单</a>		
		</dd>		
		<dd class="fore4_6">			
			<a href="#">节能补贴</a>		
		</dd>		
		<dd class="fore4_7">			
			<a href="#">医药服务&nbsp;<img width="24" height="11" src="images/myjd-new-ico.png"></a>		
		</dd>		
		<dd class="fore4_8">			
			<a href="#">流量加油站</a>		
		</dd>	
	</dl>	
	<dl class="fore5">		
		<dt id="_MYJD_fw">客户服务</dt>		
		<dd class="fore5_1">			
			<a href="#">返修退换货</a>		
		</dd>		
		<dd class="fore5_2">			
			<a href="#">价格保护</a>		
		</dd>		
		<dd class="fore5_3">			
			<a href="#">意见建议</a>		
		</dd>		
		<dd class="fore5_4">			
			<a href="#">购买咨询</a>		
		</dd>		
		<dd class="fore5_5">			
			<a href="#">交易纠纷</a>		
		</dd>		
		<dd class="fore5_6">			
			<a href="#">京东维修 </a>		
		</dd>                
		<dd class="fore5_7">			
			<a href="#">上门预约服务</a>		
		</dd>	
	</dl>	
	<dl class="fore6">		
		<dt id="_MYJD_sz">设置</dt>		
		<dd class="fore6_1">			
			<a href="#">个人信息</a>		
		</dd>		
		<dd class="fore6_2">			
			<a href="#">收货地址</a>		
		</dd>	
	</dl>
</div>