<div class="layout">
	<div class="menu">
		<ul class="top">
			<li ng-class="{cur: $state.includes('app.dashboard')}">
				<a href="app"><i class="home"></i><em>管理首页</em></a>
			</li>
		</ul>
		<ul>
			<li ng-class="{cur: $state.includes('app.system')}">
				<a href="app/system"><i class="system"></i><em>系统设置</em></a>
			</li>
			<li ng-class="{cur: $state.includes('app.nav')}">
				<a href="app/nav"><i class="nav"></i><em>自定义导航栏</em></a>
			</li>
			<li ng-class="{cur: $state.includes('app.show')}">
				<a href="app/show"><i class="show"></i><em>首页幻灯广告</em></a>
			</li>
			<li ng-class="{cur: $state.includes('app.system')}">
				<a href="app/page"><i class="page"></i><em>单页面管理</em></a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="app/product_category"><i class="productCat"></i><em>商品分类</em></a>
			</li>
			<li>
				<a href="app/product"><i class="product"></i><em>商品列表</em></a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="app/article_category"><i class="articleCat"></i><em>文章分类</em></a>
			</li>
			<li>	
				<a href="app/article"><i class="article"></i><em>文章列表</em></a>
			</li>
		</ul>
		<ul class="bot">
			<li>
				<a href="app/backup"><i class="backup"></i><em>数据备份</em></a>
			</li>
			<li>
				<a href="app/mobile"><i class="mobile"></i><em>手机版</em></a>
			</li>
			<li>
				<a href="app/manager"><i class="manager"></i><em>网站管理员</em></a>
			</li>
			<li>
				<a href="app/manager_log"><i class="managerLog"></i><em>操作记录</em></a>
			</li>
		</ul>
	</div>
</div>

<div ui-view class="wrapper"></div>