<header>
	<div class="top clearfix">
		<div class="area">
			<span>送至:</span>
			<a><span>北京</span></a>
		</div>
		<div class="user_choose">
			<ul class="clearfix">
				<li>
					<a class="username">卡布奇诺</a>
					<a class="exit">退出</a>
				</li>
				<li>
					<a class="my_order">我的订单</a>
				</li>
				<li>
					<a class="my_jd">我的京东</a>
				</li>
				<li>
					<a class="jd_vip">京东会员</a>
				</li>
				<li>
					<a class='Business_Buy'>企业采购</a>
				</li>
				<li>
					<a class="jd_mobile">手机京东</a>
				</li>
				<li>
					<a class="follow_jd">关注京东</a>
				</li>
				<li>
					<a class="kf_jd">京东客服</a>
				</li>
				<li>
					<a class="website_nav">网站导航</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="banner">
		<div class="jd_nav clearfix">
			<div class="jd_logo">
				<a href="#" class="fore1"></a>
				<a href="#" class="fore2">我的京东</a>			
	  			<a href="#" class="fore3">返回京东首页</a>
			</div>		
			<div class="navitems">	
				<ul class="clearfix">
					<li><a>主页</a></li>
					<li><a>账户设置</a></li>
					<li><a>社区</a></li>
					<li><a>消息<i>44</i></a></li>
				</ul>
			</div>
			<div class="search">
				<div class="key_search">
					<div class="form">						
						<input type="text" onkeydown="javascript:if(event.keyCode==13) search('key');" autocomplete="off" id="key" accesskey="s" class="text" style="color: rgb(153, 153, 153);">						
						<button onclick="search('key');return false;" class="button cw-icon" type="button"><i></i>搜索</button>					
					</div>
				</div>
				<div class="buy_search">
					<div class="cw-icon">						
						<i class="ci-left"></i>						
						<i class="ci-right">&gt;</i>
						<i class="ci-count" id="shopping-amount">0</i>						
						<a target="_blank" href="//cart.jd.com/cart.action">我的购物车</a>					
					</div>
				</div>
			</div>
		</div>
	</div>
</header>