/*@font-face {font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
  }*/

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1462419434_6644201.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1462419434_6644201.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1462419434_6644201.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1462419434_6644201.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1462419434_6644201.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.if{
  font-family:"iconfont" !important;
  font-size:1.6rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if-spin {
  -webkit-animation: if-spin 2s infinite linear;
  animation: if-spin 2s infinite linear;
}

.if-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes if-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes if-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.if-user:before {
  content: '\e608';
}
.if-store:before {
  content: '\e602';
}
.if-search:before {
  content: '\e605';
}
.if-notice:before {
  content: '\e607';
}
.if-close:before {
  content: '\e616';
}
.if-close-circle:before {
  content: '\e60a';
}
.if-close-circle-o:before {
  content: '\e603';
}
.if-cart:before {
  content: '\e609';
}
.if-cart-o:before {
  content: '\e624';
}
.if-cart-add:before {
  content: '\e613';
}
.if-order:before {
  content: '\e60e';
}
.if-coupon:before {
  content: '\e60d';
}
.if-record:before {
  content: '\e610';
}
.if-mobile:before {
  content: '\e600';
}
.if-chevron-right:before {
  content: '\e60c';
}
.if-chevron-down:before {
  content: '\e62a';
}
.if-distribution:before {
  content: '\e60f';
}
.if-back:before {
  content: '\e611';
}
.if-forward:before {
  content: '\e612';
}
.if-minis:before {
  content: '\e617';
}
.if-plus:before {
  content: '\e614';
}
.if-plus-square:before {
  content: '\e629';
}
.if-plus-o:before {
  content: '\e62b';
}
.if-tel:before {
  content: '\e615';
}
.if-info:before {
  content: '\e61c';
}
.if-pay:before {
  content: '\e61e';
}
.if-send:before {
  content: '\e620';
}
.if-deliver:before {
  content: '\e621';
}
.if-evaluate:before {
  content: '\e618';
}
.if-refund:before {
  content: '\e61f';
}
.if-vipcard:before {
  content: '\e623';
}
.if-point:before {
  content: '\e61d';
}
.if-address:before {
  content: '\e619';
}
.if-allgoods:before {
  content: '\e625';
}
.if-new:before {
  content: '\e626';
}
.if-star:before {
  content: '\e627';
}
.if-star-o:before {
  content: '\e628';
}
.if-rmb-o:before {
  content: '\e62c';
}
.if-team:before {
  content: '\e62e';
}
.if-spread:before {
  content: '\e62f';
}
.if-pie:before {
  content: '\e62d';
}
.if-area:before {
  content: '\e667';
}
.if-team-b:before {
  content: '\e669';
}
.if-order-b:before {
  content: '\e668';
}
.if-not-settled:before {
  content: '\e66b';
}
.if-sharehoder-b:before {
  content: '\e676';
}
.if-sharehoder-e:before {
  content: '\e677';
}
.if-ranking:before {
  content: '\e674';
}
.if-credit-circle:before {
  content: '\e694';
}

.if-credit-money:before {
  content: '\e69a';
}

.if-credit-record:before {
  content: '\e699';
}