.mod-goods-list {
  .tab-nav {
    @include flexbox();
    margin: 0;
    border: 0;
    //@include background-borders(bottom, $tab-border-color);
    background-color: $white;
    >a {
      @include flex(1);
      display: block;
      padding: 0 .5rem;
      color: $text-color;
      width: 100%;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      border-bottom:1px solid #e5e5e5;
      font-size: 1.4rem;
      &.active {
        color: $tab-active-color;
        border-color: $tab-active-color;
        z-index: 100;
      }
    }
  }
  .tab-content {
    .tab {
      display: none;
    }
    .active {
      display: block;
    }
  }
  .list-title {
    padding: 1rem .85rem;
    border-bottom:1px solid #e5e5e5;
    h2 {
      margin: 0;
      float: left;
      font-size: 1.6rem;
      font-weight: 700;
    }
    a {
      float: right;
      color: $gray-light;
      i {
        float: right;
        font-size: 1.2rem;
      }
    }
  }
  .goods-list-tab {
    .active {
      border-width: 1px;
    }
  }
  .goods-list {
    >li {
      padding: .85rem;
      @include background-borders(bottom, $gray-lighter);
      background-color: $white;
      >a {
        display: block;
        .goods-image {
          width: 10rem;
          height: 10rem;
          float: left;
          >img{
            width: 100%;
          }
        }
        .goods-info {
          position: relative;
          padding-left: 10.85rem;
          height: 10rem;
          .goods-title {
            margin: 0 0 .7rem 0;
            padding-top: .25rem;
            color: $text-color;
            line-height: 1.4;
          }
          .goods-price {
            margin: 0 0 .7rem 0;
            color: $price-color;
            font-size: 1.5rem;
            font-weight: 500;
          }
          .goods-buy {
            position: absolute;
            right: .7rem;
            bottom: .25rem;
            font-size: 2.6rem;
            line-height: 1;
            color: $gray-999;
          }
        }
      }
    }
    &.style-small {
      padding: .85rem .85rem 0 0;
      >li {
        width: 50%;
        float: left;
        padding: 0 0 .85rem .85rem;
        background: none;
        >a {
          @include background-borders(top right bottom left, $border-color-normal);
          background-color: $white;
          padding: 1px;
          .goods-image {
            width: 100%;
            height: 100%;
            float: none;
          }
          .goods-info {
            position: relative;
            margin: .85rem 0 .5rem;
            padding: 0 .5rem;
            height: auto;
            .goods-title {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin: 0 0 .5rem 0;
            }
            .goods-price {
              margin: 0;
            }
          }
        }
      }
    }
    &.style-big {
      padding: .85rem;
      >li {
        margin-bottom: .5rem;
        padding: 0;
        background: none;
        >a {
          @include background-borders(top right bottom left, $border-color-normal);
          background-color: $white;
          padding: .5rem;
          .goods-image {
            width: 100%;
            height: 100%;
            float: none;
          }
          .goods-info {
            position: relative;
            margin: .85rem 0 .5rem;
            padding: 0 .5rem;
            height: auto;
            .goods-title {
              margin: 0 0 .5rem 0;
              font-size: 1.6rem;
              font-weight: 700;
            }
            .goods-price {
              margin: 0;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
.mod-goods-com{
  padding-top: 1px;
  @include background-borders(top bottom, $border-color-normal);
  .com-title{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #333;
    padding: 1rem 0;
    @include background-borders(bottom, $border-color-normal);
  }
  .com-desc{
    text-align: center;
    @include background-borders(bottom, $border-color-normal,.5px);
  }
  .swiper-goods-container {
    padding: .85rem;
    overflow: hidden;
    position: relative;
  }
  .swiper-slide {
    width:120px;
    margin-right: .85rem;
    >a {
      .goods-info {
        position: relative;
        margin: .5rem 0;
        padding: 0 .5rem;
        height: auto;
        .goods-title {
          padding-top: .25rem;
          color: $text-color;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin: 0 0 .5rem 0;
          line-height: 16px;
          height: 36px;
        }
        .goods-price {
          margin:0;
          color: $price-color;
          font-size: 1.5rem;
          font-weight: 500;
        }
        .goods-buy {
          position: absolute;
          right: .7rem;
          bottom: .25rem;
          font-size: 2.6rem;
          line-height: 1;
          color: $gray-999;
        }
      }
      .goods-image {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position:relative;
        float: none;
        img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}
