.mod-notice {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  background: #ffc;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  word-break: break-all;
  font-size: 1.2rem;
  >i {
    position: absolute;
    font-size: 1.6rem;
    left: .85rem;
    top: 1rem;
    color: $gray-light;
  }
  >marquee {
    margin: 0 .85rem 0 2.5rem;
    color: #f90;
  }
}