.mod-snatch{
  .filter{
    @include background-borders(bottom, $gray-lighter);
    ul{
      @include flexbox();
      padding: .5rem 0;
      li{
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        @include flex(1);
        @include background-borders(right, $gray-lighter);
        &:last-child{
          background: none;
        }
        &.active{
          color: $tab-active-color;
        }
      }
    }
  }
  .goods-progress{
    margin-right: 40px;
    .txt{
      margin:0 0 3px 0;
      font-size: 12px;
      color: $gray-light;
      strong{
        color: $tab-active-color;
        margin-left: 2px;
      }
    }
    .bar-wrap{
      position: relative;
      margin:0 0 2px 0;
      height: 5px;
      border-radius: 5px;
      background-color: #efeeee;
      overflow: hidden;
      .progress{
        display: block;
        height: 100%;
        border-radius: 4px;
        background: #FFA538;
        background: -webkit-gradient(linear,left top,right top,from(#FFCB3D),to(#FF8533));
        background: -moz-linear-gradient(left,#FFCB3D,#FF8533);
        background: -o-linear-gradient(left,#FFCB3D,#FF8533);
        background: -ms-linear-gradient(left,#FFCB3D,#FF8533);
      }
    }
  }
  .button-round{
    &.button-add-cart{
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
    display: block;
    padding: 0;
    width: 24px;
    height: 24px;
    background:$brand-danger;
    border: 0;
    border-radius: 50%;
    text-indent: -999em;
    overflow: hidden;
    position: relative;
    &:after,&:before{
      content: "";
      display: block;
      position: absolute;
      width: 14px;
      height: 14px;
      overflow: hidden;
    }
    &:after{
      top: 5px;
      left: 11px;
      width: 0;
      border-left: 2px solid #fff;
    }
    &:before{
      top: 11px;
      left: 5px;
      height: 0;
      border-top: 2px solid #fff;
    }
  }
}
ul.snatch-nav{
  background: $white;
  @include flexbox();
  li{
    @include flex(1);
    padding: .85rem;
    a{
      @include flexbox();
    }
    .s-img{
      @include flex(1);
    }
    .s-cont{
      @include flex(3);
      margin-left: .85rem;
      line-height: 1.4;
      h3{
        margin: 0;
        font-size: 14px;
      }
      span{
        font-size: 12px;
        color: $gray-light;
      }
    }
    &:first-child{
      @include background-borders(right, $gray-lighter);
    }
  }
}
.snatch-notice{
  position: relative;
  @include background-borders(top bottom, $gray-lighter);
  height: 3.5rem;
  line-height: 3.5rem;
  overflow: hidden;
  word-break: break-all;
  font-size: 1.2rem;
  >i {
    position: absolute;
    left: .85rem;
    top: 0;
    color:$tab-active-color;
  }
  .warp{
    margin: 0 .85rem 0 2.5rem;
    height: 3.5rem;
    overflow: hidden;
  }
}