.mod-tag-nav {
  padding: 0.85rem 0.85rem 0 0;
  li {
    width: 50%;
    float: left;
    padding: 0 0 0.85rem 0.85rem;
    a {
      display: block;
      background: $white;
      border-radius: $border-radius-normal;
      color: $gray;
      padding: .5rem;
      line-height: 2.5rem;
      img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .5rem;
      }
    }
  }
}