.mod-tag-list{
	.mod-title{
		width: 6rem;
		float: left;
		padding: 0;
		a{
			display: block;
			height: 49px;
			line-height: 49px;
			border-bottom:1px solid #eee;
			border-right: 1px solid #eee;
			background:#F8F8F8;
			.title-name{
				font-size: 1.2rem;
				width:100%;
				text-align: center;
			}
		}
		.active {
			background-color: #FFF;
			color: #C33;
			border-left: 3px solid #C33;
			border-right:none;
		}
	}
	.tag-list-img{
		// margin-left: 6rem;
		display: none;
		// padding: .85rem;
		ul{
			li{
				img{
					height:98px;
				}
			}
		}
	}
	.tag-list-right{
		// margin-left:6rem;
		display: none;
		ul{
			width:21rem;
			display: inline-block;
			background:#ffffff;
			li{
				width:7rem;
				display: inline-block;
			}
		}
		.mod-tag-nav{
			li{
				width:50%;
			}
		}
	}
	.active{
		display: block;
	}

}

.tag-setting-h2{
	background: #F9F9F9;
	margin: 0;
	font-size: 1.85rem;
	padding: 10px;
	border-top: 1px solid #eee;
}