.mod-title {
    padding: 1rem .85rem;
  @include background-borders(bottom, $gray-lighter);
  .title-img{
    float: left;
    width: 18px;
    height: 18px;
    margin-right:5px;
    img{
      width: 100%;
    }
  }
  .title-name{
      margin: 0;
      float: left;
      font-size: 1.6rem;
      font-weight: 700;
    color: $gray-dark;
    }
    .more-enter {
      float: right;
      color: $gray-light;
      i {
        float: right;
        font-size: 1.2rem;
      }
    }
}
