@mixin horizontal-center {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-pic {
  display: block;
  .bg {
    position: relative;
    > img {
      position: absolute;
      height: 380px;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

.content-pd {
  margin-top:10px;
  >div {
    display: inline;
    &:nth-of-type(1){
      padding-right: 20px;
      min-width: 200px;
      float: left;
      width: 33.33%;
    }
    &:nth-of-type(2){
      padding-top: 10px;
      min-width: 400px;
      float: left;
      width: 66.66%;
    }
  }
}

.top-content {
  margin-top:10px;
  height: 430px;
  color: white;
  >div {
    @include horizontal-center();
    min-width: 800px;
    .row {
      padding-top:20px;

    }
  }
}

.app-content {
  display: block;
  >div {
    @include horizontal-center();
    min-width: 800px;
    >h3 {
      font-weight: normal;
      color: #a089ff;
    }
    >ul {
      list-style: decimal;
      font-size: 18px;
      line-height: 26px;
      margin-left: 30px;
      white-space: normal;
      word-break: break-all;
    }
    >.notice {
      margin-top: 20px;
      color: red;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.erweima {
  margin-top: 15px;
  min-width: 440px;
  padding:15px;
  >div {
    display: inline-block;
    width: 220px;
    color: white;
    .scale-img {
      padding: 10px;
      &:hover {
        -webkit-transform: scale(1.6);
        -ms-transform: scale(1.6);
        transform: scale(1.6);
      }
    }
    img {
      display: block;
      margin: 0 auto;
      height: 120px;
      width: 120px;
    }
    >span {
      display: block;
      text-align: center;
      line-height: 40px;
      font-size: 16px;
    }
    .ios {
      height: 120px;
      width: 120px;
      display: block;
      margin: 0 auto;
      border: 2px solid #fff;
      font-size: 30px;
      line-height: 120px;
      text-align: center;
    }
  }
}
