.auth-container {
  width: 1000px;
  margin: 30px auto 0;
}

.login-page {
  min-height: 410px;
  background: url("/image/login-bg.jpg") no-repeat;
  .login-module {
    border: 2px solid #dedede;
    border-top: 2px solid #f40;
    padding: 20px 20px 30px;
    width: 280px;
    float: right;
    background: #FFF;
    margin: 50px 50px 0 0;
    .module-tab {
      margin-bottom: 20px;
      h2 {
        display: block;
        float: left;
        text-align: center;
        color: #999;
        font-size: 14px;
        border-bottom: 1px solid #dedede;
        width: 50%;
        padding-bottom: 12px;
        cursor: pointer;
        margin: 0;
      }
    }
    .module-body {
      .weixin-form {
        display: none;
        iframe {
          width: 236px;
          height: 300px;
        }
      }
      .account-form {
        display: none;
        .captcha-code {
          width: 120px;
          float: left;
        }
        .captcha-img {
          width: 96px;
          height: 34px;
          margin-left: 20px;
          cursor: pointer;
        }
        .forget-pass {
          float: right;
        }
        .signup-link {
          margin-top: 15px;
        }
      }
    }
    &.weixin-mod {
      .weixin-tab {
        border-bottom: 1px solid #f40;
        color: #333;
      }
      .module-body {
        .weixin-form {
          display: block;
        }
      }
    }
    &.account-mod {
      .account-tab {
        border-bottom: 1px solid #f40;
        color: #333;
      }
      .module-body {
        .account-form {
          display: block;
        }
      }
    }
  }
}

@mixin ci-image(){
  float: left;
  padding: 4px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 6px;
  img {
    width: 64px;
    height: 64px;
  }
}

.bind-page {
  .bind-header {
    margin: 0 auto 30px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid $border-color;
    h1 {
      margin: 20px 0 10px 0;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      color: #666;
    }
    .bind-ci {
      position: relative;
      float: right;
      width: 200px;
      margin: 0;
      .ci-image-mch {
        @include ci-image;
      }
      .ci-image-wx {
        @include ci-image;
        margin-top: 15px;
        margin-left: -15px;
      }
    }
  }
  .bind-main {
    .bind-form {
      width: 250px;
      margin: 0 auto;
    }
  }
}


.reset-page{
  position: relative;
  width: 600px;
  margin: 0 auto;

  .reset-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;

    .header-side {
      float: right;
      margin-top: 12px;
    }
    .header-title {
      position: relative;
      top: 10px;
      font-size: 16px;
      color: #333;
      padding-left: 10px;
      margin: 0 100px 0 0;
      //border-left: 2px solid #ebebeb;
    }
    .header-logo {
      float: left;
      width: 140px;
      height: 35px;
      position: relative;
      margin-top: -1px;

      img{
        width: 140px;
        height: 35px;
      }
    }

  }

  .reset-main{
    margin-top:50px;

  }

}

.reset-tip{
  margin-bottom: 0;
  span{
    display: inline-block;
  }
  strong{
    line-height: 3em;
    font-size: 16px;
    font-weight: 400;
  }
  i{
    font-weight: lighter;
    border: 1px solid #3EC840;
    border-radius: 50%;
    padding: 0.5rem;
    color: #3EC840;
  }
}

.verifiy-page{
  position: relative;
  width: 100%;
  min-width: 565px;
  margin: 0 auto;

  .verifiy-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;

    .header-title {
      position: relative;
      top: 10px;
      font-size: 15px;
      color: #333;
      padding-left: 10px;
      margin: 0 0 0 135px;
      border-left: 2px solid #ebebeb;
    }
    .header-logo {
      float: left;
      width: 120px;
      position: relative;
      margin-top: -1px;

      img{
        width: 120px;
      }
    }

  }

  .verifiy-main {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.modal .verifiy-dialog{
  width: 600px !important;
  margin: 7% auto 0 auto !important;
}

.send-btn {
  color: $link-color;
  opacity: 1!important;
  &:hover {
    color: $link-color;
    text-decoration: none!important;
  }
  &:disabled {
    color: #777;
  }
}
