.cashier-container{
  border:1px solid $border-color;
  background: $default-background-color;
  .pay-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
  }
  .self-pay{
    width: 35%;
    float: left;
    padding:0 20px 20px;
    border-left: 1px solid $border-color;
  }
  .fix-pay{
    width: 65%;
    float: left;
    padding: 0 20px 20px;
  }
  .form-code{
    width:50%;
    padding:0 15px;
    float: left;
  }
  .pay-code{
    width: 50%;
    padding:0 40px;
    float: left;
  }
  @mixin com-code{
    width: 140px;
    height: 140px;
    text-align: center;
    line-height: 140px;
    margin-bottom: 10px;
  }
  .qr-code{  
    border: 1px dashed #ccc;
    @include com-code;
  }
  .code-tips{
    text-align: center;
    width: 150px;
  }
  .qr-new{
    background:#fff;
    @include com-code;
  }
}
.qrcode-list{
  >tbody tr td{
    vertical-align: middle;
  }
}