$item-grey:#d7d7d7;
$item-white:#fff;
$item-head:#f6f6f6;
$item-dark:#000;
.area-editor-remove-btn {
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $item-grey;
    color: $item-white;
    line-height: 15px;
    text-align: center;
    text-indent: 0;
    margin-top: 7px;
    cursor: pointer;
}
.area-editor-depth1{
  .area-editor-ladder-toggle{
    left:0px;text-indent:0
  }
  .area-editor-list-title{
    margin-left:15px;
  }
}
.hide-list{
  display:none;
}
.city-proper>li{
  margin-left:30px !important;
  padding-left:0px;
  >div{
    padding-left:0px;
  }
}
.area-editor-list-title.area-editor-list-select{
  background:$item-grey;
  .area-editor-ladder-toggle{
    background-color: $item-white;
    color:$item-dark;
  }
}
.area-editor-list-title {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 10px;
  margin: 0;
  font-weight: normal;
  background-color:$item-white ;
  .area-editor-list-title-content {
    position: relative;
    top: 5px;
    padding-left: 20px;
    line-height: 30px;
    cursor: pointer;
  }
}
.area-editor-ladder-toggle {
  position: absolute;
  left: 0;
  top: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $item-grey;
  color: $item-white;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
}
.area-editor-wrap {
  padding: 20px 0;
  width: 550px;
  margin: 0 auto;
  .area-editor-add-btn {
    margin: 150px 35px 0 35px;
    float: left;
  }
  .area-editor>.area-editor-list {
    height: 314px;
    margin: 10px 0;
  }
  .area-editor-column{
    overflow: auto;
    float: left;
    width: 200px;
    height: 375px;
    border: 1px solid #e5e5e5;
    >.area-editor-column-used {
      float: right;
    }
    .area-editor-head {
      margin: 0;
      text-align: center;
      font-weight: normal;
      font-size: 14px;
      padding: 10px 0;
      font-weight: normal;
      background: $item-head;
      border-bottom: 1px solid #e5e5e5;
    }
    .area-editor-list {
      padding: 0;
      overflow: auto;
    }
  }
}

