.table-conment{
  p{
    margin-bottom: 2px;
  }
  .operate{
    vertical-align: middle;
    text-align: center;
  }
  .conment-lavel{
    vertical-align: middle;
    .fa-star{
      font-size: 16px;
      color:#f60;
    }
  }
  .price em{
    margin-right: 5px;
    font-style: normal;
    color: #f60;
  }
  .date{
    color: #999;
  }
}

