.daterangepicker {
  font-size: 12px;
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  >.ranges {
    >.range_inputs {
      margin-bottom: 10px;
      >.daterangepicker_start_input {
        float: left;
      }
      >.daterangepicker_end_input {
        float: right;
        padding-left: 11px;
      }
      input {
        display: inline-block;
        width: 86px;
      }
    }

    >.quick-list{
      width: 180px;
      margin: 0 0 10px 0;
      >li {
        float: left;
        height: 25px;
        line-height: 25px;
        width: 80px;
        cursor: pointer;
        color: #666;
        &:hover {
          color: #f40;
        }
      }
    }
    >.operator {
      >button {
        padding: 3px 10px;
        margin-right: 8px;
      }
    }
  }
  &.opensleft .ranges, &.opensleft .calendar{
    float: left;
    margin: 6px;
  }
  &.opensright .ranges, &.opensright .calendar {
    float: right;
    margin: 6px;
  }
  &.opensleft:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  &.opensleft:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }
  &.opensright:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  &.opensright:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }
  >.calendar {
    display: none;
    max-width: 270px;
    th,td {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      white-space: nowrap;
      text-align: center;
      min-width: 32px;
    }
    &.single .calendar-date {
      border: none;
    }
  }
  &.show-calendar .calendar {
    display: block;
  }
  .calendar-date {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
    background: #fff;
  }
  .calendar-time {
    text-align: center;
    margin: 8px auto 0 auto;
    line-height: 30px;
  }

  td,th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    &.week {
      font-size: 80%;
      color: #ccc;
    }
  }
  td {
    &.off,&.disabled {
      color: #999;
    }
    &.available:hover {
      background: #eee;
    }
    &.in-range {
      background: #ebf4f8;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    &.active, &.active:hover{
      background-color: #357ebd;
      border-color: #3071a9;
      color: #fff;
    }
  }
  th.month {
    width: auto;
  }
  select.monthselect, select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
  }
  select.monthselect {
    margin-right: 2%;
    width: 56%;
  }
  select.yearselect {
    width: 40%;
  }
  select.hourselect, select.minuteselect, select.ampmselect {
    width: 50px;
    margin-bottom: 0;
  }
}