@mixin fa(){
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logis-company-list+.logis-company-list{
  margin-top: 20px;
}
.logis-company-list{
  border: 1px solid #e5e5e5;
  .logis-title{
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 15px;
  background: #f6f6f6;
    border-bottom: 1px solid #e5e5e5;
  }
  >ul{
    padding: 10px 0 0 10px;

    >li{
      border: 1px solid #e5e5e5;
      float: left;
      text-align: center;
      margin: 0 10px 10px 0;
      position: relative;
      >img{
        width: 148px;
      }
      &:hover .choose-item{
        display: block;
      }
       .choose-item{
         display: none;
         width: 30px;
         height: 30px;
         position: absolute;
         bottom: 0;
         right: 0;
         background: #4b0;
         border-top-left-radius:100%;
         cursor: pointer;
        &:after{
          position: absolute;
          bottom: 0;
          right: 0;
          content: "\f00c";
          @include fa();
          color: #fff;
          font-size:20px;
        }
      }
    }
  }
}
.my-logis{
  >ul>li:hover{
    position: relative;
    border: 1px solid #F70;
    .close-item{
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      right: 0;
      background:#F70;
      border-bottom-left-radius:100%;
      display: block;
      &:after{
        position: absolute;
        top: 0;
        right: 2px;
        content: "\f00d";
        @include fa();
        color: #fff;
        font-size:20px;
      }
    }
  }
}
.shipping-list{
  .shipping-item{
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    margin-bottom: 10px;
    .shipping-title{
      background-color: #f9f9f9;
      padding: 10px;
      border-bottom: 1px solid #e5e5e5;
    }
    .table{
      margin-bottom: 0;
      .num-cell{
        text-align:right;
        width: 100px;
      }
      > tbody > tr > td{
       vertical-align: middle;
     }
    }
  }
}
.page-shipping{
  .postage-area{
    min-width: 800px;
    .fa{
      cursor: pointer;
    }
    .area-text{
      width:160px;
    }
  .table> tbody > tr > td{
        vertical-align: middle;
    }
  }
}
.selffetch-area{
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  margin-bottom: 20px;
  >h3{
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 6px 0;
  }
  >p{
    margin: 0;
    color: #8d8d8d;
  }
}
.w90{width:90px}
.areas-body{
  .area-item{
    height: 30px;
    line-height: 30px;
    width: 142px;
    float: left;
    position: relative;
    bottom: -1px;
    .checkbox{
      label{
        padding: 0 10px 0 0;
      }
    }
    &:hover{
      >.checkbox{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #FFFEC6;
        border: 0 solid #f7e4a5;
        border-width: 1px 1px 0 1px;
      }
      .citys{
        display: block;
      }
    }
    .citys{
      background-color: #FFFEC6;
      position: absolute;
      float: right;
      border: solid 1px #f7e4a5;
      padding: 4px 0;
      top: 30px;
      left: 0;
      z-index: 8;
      width: 220px;
      white-space:nowrap;
      display: none;
      .checkbox{
        float: left;
        min-width: 108px;
      }
      .checkbox+.checkbox{
        margin: 0;
      }
    }
  }
}
.change-express {border-radius: 0 0 3px 3px;position: relative;}
.change-express a {margin-bottom: 6px;display: block;}
.change-express img {display: block;}
.shift-btn {position: absolute!important;color: #000;width: 130px;z-index: 18;padding: 5px 0 5px 10px;border: 1px solid #ff8c3f;background-color: #fef5e6;left: 20px;overflow: hidden;}
.shift-btn i {position: absolute;right: 10px;top: 8px;}


