::-webkit-scrollbar-thumb {
	width: 6px;
	border-radius: 3px;
	background: #aaa;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
	width: 0;
	border-radius: 3px;
	background: #fff;
}

table.goods-list {
	.goods-image {
		width: 60px;
		height: 60px;
		vertical-align: middle;
		border: 1px solid #F4F2F2;
		padding: 1px;
		background-color: #fff;
	}
	td.price .editable-input {
		width: 60px;
	}
	td.stock .editable-input {
		width: 60px;
	}
  .goods-title {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cate-container {
	width: 100%;
	ul.cate-list {
		width: 100%;
		padding: 0 10px;
		overflow-x: scroll;
		>li {
			position: relative;
			float: left;
			width: 33.33%;
			height: 338px;
			background-color: #fff;
			>.search {
				>.form-control {
					border-color: $border-color;
					border-bottom-width: 0;
					border-radius: 2px 2px 0 0;
				}
			}
			>ul.cate-tree {
				height: 308px;
				overflow-y: scroll;
				border: 1px solid $border-color;
				>li {
					>a {
						position: relative;
						display: block;
						padding: 3px 18px 3px 10px;
						color: $default-color;
						cursor: pointer;
						line-height: 2.4;
					}
					>a.child:after {
						content: "\f105";
						position: absolute;
						top: 50%;
						right: 10px;
						height: 24px;
						line-height: 24px;
						margin-top: -12px;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
					}
				}
				>li.active, >li:hover {
					>a {
						background-color: $default-background-color;
						color: $nav-active-color;
					}
				}
				>li:hover {
					>span.edit-tab {
						display: block;
					}
				}
			}
		}
		>li:nth-child(3n-2) {
			left: -10px;
		}
		>li:nth-child(3n-1) {
			left: 0;
		}
		>li:nth-child(3n) {
			left: 10px;
		}
		>li.last-item {
			>ul.cate-tree {
				>li {
					>a:after {
						content: "";
					}
				}
			}
		}
		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
	}
	.cate-search-top {
		padding-bottom: 10px;
		>select.form-control {
			display: inline;
			width: 229px;
			border-color: $border-color;
		}
	}
	.select-text {
		position: relative;
		padding: 10px;
		background-color: $default-background-color;
		.text {
			color: $nav-active-color;
			label {
				margin-bottom: 0;
			}
		}
	}
	.select-text:before {
		content: '';
		position: absolute;
		top: -18px;
		left: 30px;
		height: 0;
		width: 0;
		border: solid transparent;
		border-width: 9px;
		border-bottom-color: $default-background-color;
	}
}

label.cate-select-label {
	>i {
		font-style: normal;
		&:after {
			content: ">";
			margin: 0 3px;
		}
	}
	&:last-child {
		>i:after {
			content: "";
		}
	}
}

.goods-form {
	.form-model {
		.model-head {
			padding: 10px 0;
			border-bottom: 1px solid $border-color;
			h5 {
				position: relative;
				padding: 0;
				margin: 0 0 0 20px;
				&:before {
					content: '\f10c';
					position: absolute;
					top: 50%;
					left: -15px;
					height: 24px;
					line-height: 24px;
					margin-top: -12px;
					font-family: FontAwesome;
					font-size: 12px;
					font-style: normal;
					font-weight: normal;
				}
			}
		}
		.goods-title {
			width: 413px;
		}
	}

	.full-box {
		min-width: 660px;
		padding: 10px;
		background-color: $default-background-color;
		>.item {
			padding-top: 10px;
			border-bottom: 1px solid #eee;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom-width: 0;
			}
		}
	}
	.sku-table {
		margin-bottom: 10px;
		background-color: #fff;
		border: 1px solid $border-color;
		tr {
			td {
				vertical-align: middle;
			}
		}
		>thead {
			>tr {
				>td {
					padding: 10px 12px;
					background-color: $default-background-color;
				}
			}
		}
		>tbody {
			>tr {
				>td {
					display: table-cell;
					padding: 8px 12px;
					border-left: 1px solid $border-color;
					white-space: nowrap;
					&.setting {
						text-align: center;
					}
					input {
						width: 100%;
					}
					input.sku-price-input, input.sku-stock-input {
						width: 74px;
					}
				}
				&:last-child {
					>td {
						border-bottom: 0 solid #fff;
					}
				}
			}
			&:first-child {
				>td {
					border-left-width: 0;
				}
			}
		}
	}
	input.form-control {
		width: 156px;
	}
	input.form-control.input-lg {
		width: 360px;
	}
	.input-group {
		.form-control {
			width: 87px;
		}
	}
	.more {
		margin-bottom: 0;
	}
}

.list-tr {
	position: relative;
	margin-left: 20px;
	padding: 10px 0;
	line-height: 2;
	>.list-th {
		display: table-cell;
		position: absolute;
		width: 80px;
	}
	>.list-td {
		margin-left: 90px;
		min-height: 34px;
		.td-line {
			margin-bottom: 10px;
			.line-item {
				display: table-cell;
				float: left;
				vertical-align: middle;
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}
		}
		.radio {
			>label {
				line-height: inherit;
			}
		}
	}
	.remark {
		color: #999;
		margin: 0;
	}
}

.uploadImg-list {
	margin-bottom: 10px;
	>li {
		position: relative;
		float: left;
		margin-right: 10px;
		img {
			width: 80px;
			height: 80px;
			border: 1px solid $border-color;
		}
		.item-footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 0 10px;
			background-color: rgba(0, 0, 0, 0.6);
			color: #fff;
			font-size: 12px;
			i {
				color: #fff;
				font-size: 12px;
				cursor: pointer;
			}
			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}
		}
	}
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.sku-list {
	.sku-tree {
		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}
		>li {
			display: table-cell;
			float: left;
			min-width: 98px;
			padding-right: 10px;
			vertical-align: middle;
			.checkbox {
				margin: 10px 0;
				padding: 0;
			}
		}
	}
}

.goods-add-model {
	.add-footer {
		padding: 10px 0;
		text-align: center;
		>.btn {
			padding: 6px 66px;
			border-radius: 0;
		}
	}
}

.file-select-button {
	position: relative;
	>input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		opacity: 0;
	}
}