span.edit-tab{
	float: right;
	bottom: 25px;
	right: 30px;
	position: relative;
	z-index: 9;
	display: none;
}
.select-text span.text{
	color:#f60;
}

ul.cate-goodes{
	>li{
		a.a-add{
			text-align: center;
			margin-top:20px;
		}
	}
}