
.group-box{
    .form-group{
            padding-left:90px;
            width:99%;

    }
    .btn-mid{
            padding-left:10px;
    }
    .btn .btn-middle{
            display:inline-block;
            margin-left:10px;
    }
    .horn{
            border-radius: 2px;
            box-shadow: none;
            line-height: 20px;
    }
    .first{
            padding-left:77px;
            margin-top: 10px;
            margin-bottom: -10px;
    }
    .text{
        border-bottom: 1px solid #dedede;
        padding-bottom: 8px;
    }
    .input-width{
        display:inline-block;
        width:200px;
    }
    .input-width-sm{
        max-width:150px;
        display:inline-block;
        height: auto;
    }
}