.header {
  height: 50px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  min-width: 1200px;
  z-index: 1000;
  .header-wrapper {
    //width: 1000px;
    //margin: 0 auto;
	>.logo {
		height: 50px;
		margin: 0 40px 0 12px;
		padding: 5px 2px;
		overflow: hidden;
		img {
            height: 35px;
		}
	}
	>.nav {
      font-size: 14px;
      padding-top: 18px;
      li {
        float: left;
        position: relative;
        margin-right: 30px;
        height: 32px;
        overflow: hidden;
        >a {
          display: block;
          font-weight: 700;
          color: $default-color;
          height: 35px;
          line-height: 20px;
          padding: 0 0 3px;
          border-bottom: 3px solid $nav-active-color;
          transition: all .15s ease-in-out;
        }
        &:hover>a,
        &.active>a
        {
          color: $nav-active-color;
          height: 32px;
        }
      }
    }
    .header-actions{
      padding: 10px;
    }
    .user{
      .user-menu {
        .item {
          height: 50px;
          float: left;
          margin-right: 12px;
          &.message {
            padding:16px 12px 12px 12px;
            display: block;
            position: relative;
            .fa-bell-o{
              font-size: 22px;
              color: #666;
            }
            &.unread {
              .fa-bell-o {
                -webkit-animation:bellshake 2s linear 0s infinite;
                -moz-animation:bellshake 2s linear 0s infinite;
                animation:bellshake 2s linear 0s infinite;
                -webkit-transform-origin:top center;
                -moz-transform-origin:top center;
                transform-origin:top center
              }
              .num{
                min-width: 14px;
                height: 14px;
                border-radius: 100%;
                line-height: 10px;
                padding: 2px;
                display: block;
                text-align: center;
                background: #FF0000;
                position: absolute;
                top:10px;
                right:10px;
                color:#fff;
              }
              .dropdown-menu{
                margin-top: 0;
                padding-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                top: 50px;
                right: 0;
                left: auto;
                border-top: 0;
                color: #666;
                >li{
                  &.drop-hd{
                    >h3 {
                      padding: 10px;
                      margin: 0;
                      background: #eee;
                      font-size: 14px;
                      margin-bottom: 4px;
                      >span{
                        font-size: 12px;
                        margin: 0 5px;
                      }
                    }
                  }
                  >ul{
                    max-height: 275px;
                    width: 300px;
                    overflow-y: scroll;
                    >li{
                      >a{
                        display: block;
                        width: 298px;
                        padding: 5px 10px;
                        clear: both;
                        font-weight: 400;
                        line-height: 1.42857143;
                        font-size: 12px;
                        color: #999;
                        &:hover{
                          text-decoration: underline;
                        }
                        &.unread{
                          color: #FF0000;
                        }
                      }
                    }
                  }
                }
                .more{      
                  display: block;
                  padding: 10px 0;
                  cursor: pointer;
                  
                  strong{
                    margin-left: 4px;
                    font-weight: normal;
                  }
                }
              }
            }
            &:hover{
              .dropdown-menu{
                display: block;
              }
            }
          }
          &.setting {
            >a {
              display: block;
              color: $default-color;
              font-size: 14px;
              padding: 8px 0;
              i {
                margin-left: 5px;
                color: #999;
              }
            }
            .dropdown-menu{
              margin-top: 0;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              top: 50px;
              right: 0;
              left: auto;
              border-top: 0;
              min-width: 90px;
            }
            &:hover{
              .dropdown-menu{
                display: block;
              }
            }
          }
        }
      }
    }

  }
}
@-moz-keyframes bellshake{
  0%{-moz-transform:rotate(0deg)}
  5%{-moz-transform:rotate(18deg)}
  15%{-moz-transform:rotate(-15deg)}
  25%{-moz-transform:rotate(12deg)}
  35%{-moz-transform:rotate(-9deg)}
  45%{-moz-transform:rotate(6deg)}
  55%{-moz-transform:rotate(-3deg)}
  60%{-moz-transform:rotate(0deg)}
  100%{-moz-transform:rotate(0deg)}
}
@-webkit-keyframes bellshake{
  0%{-webkit-transform:rotate(0deg)}
  5%{-webkit-transform:rotate(18deg)}
  15%{-webkit-transform:rotate(-15deg)}
  25%{-webkit-transform:rotate(12deg)}
  35%{-webkit-transform:rotate(-9deg)}
  45%{-webkit-transform:rotate(6deg)}
  55%{-webkit-transform:rotate(-3deg)}
  60%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(0deg)}
}
@keyframes bellshake{0%{transform:rotate(0deg)}
  5%{transform:rotate(18deg)}
  15%{transform:rotate(-15deg)}
  25%{transform:rotate(12deg)}
  35%{transform:rotate(-9deg)}
  45%{transform:rotate(6deg)}
  55%{transform:rotate(-3deg)}
  60%{transform:rotate(0deg)}
  100%{transform:rotate(0deg)}
}
