input {
  outline: none!important;
}
.checkbox label, .radio label{
  padding: 0 20px 0 0;
  white-space: nowrap;
}
.radio, .checkbox {
  padding: 0;
  margin: 0;
  min-height: 0!important;
}
.radio.inline, .checkbox.inline {
  display: inline-block;
  margin: 0 8px 0 0;
}
.checkbox-all {
  padding: 7px 8px;
}
.radio input[type=radio],
.checkbox input[type=checkbox]{
  display: none;
}
.radio input[type=radio],
.checkbox input[type=checkbox]{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 5px;
  padding-left: 25px;
  cursor: pointer;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: normal;
}
.radio input[type=radio]:disabled,
.checkbox input[type=checkbox]:disabled{
  cursor: default;
}
.radio input[type=radio]:before{
  position: absolute;
  top: 50%;
  left: -2px;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background-color: #FFF;
  border-radius: 10px;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
}
.radio input[type=radio]:hover:before{
  border-color: #999;
}
.radio input[type=radio]:disabled:before{
  border-color: #eee;
}
.radio input[type=radio]:after{
  position: absolute;
  top: 50%;
  left: 10px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: 1px;
  background-color: $success-color;
  border-radius: 5px;
  transition: all 0.1s;
}
.radio input[type=radio]:checked:after{
  top: 50%;
  left: 2px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
}
.radio input[type=radio]:checked:hover:after{
  background-color: $success-color;
}
.radio-group {
  >.radio {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.checkbox input[type=checkbox]:before{
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #FFF;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
  border-radius: 3px;
}
.checkbox input[type=checkbox]:hover:before{
  border-color: #999;
}
.checkbox input[type=checkbox]:disabled:before{
  border-color: #eee;
}
.checkbox input[type=checkbox]:after{
  position: absolute;
  top: 50%;
  left: 3px;
  content: "";
  width: 0;
  height: 0;
  transition: height 0.02s, width 0.03s 0.02s;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform:rotateZ(-45);
  -ms-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
}
.checkbox input[type=checkbox]:checked:after{
  top: 50%;
  left: 3px;
  width: 10px;
  height: 6px;
  border-left: 2px solid $success-color;
  border-bottom: 2px solid $success-color;
}
.checkbox input[type=checkbox]:checked:hover:after{
  border-color: $success-color;
}