.InNewkuaishang{
  width:900px;
  margin:5px;
  padding:0;
}
.fastout{
  display:block;
  border:solid 1px #ccc;
  margin:0 auto;
}
.InNewkuaishang .box-wap{
  display:block;
}
.InNewkuaishang .upper{
  margin-top:10px;
}
.InNewkuaishang .NewFasTitle{
  padding:0;
  margin:5px 0;
  color:#2897E4;
}
.FastContent{
  width:600px;
}
.FastContent p{
  margin:5px 0;
  padding:0;
  width:100%;
  color:#666;
}