.loading {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999;
  &:after {
    content: "\f1ce";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11.69px 0 0 -15.81px;
    color: #ccc;
    font-size: 26px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0);
    -webkit-animation:fa-spin 1s infinite linear;
    animation:fa-spin 1s infinite linear
  }
}