.menu-list {
  position: relative;
  width: 100%;
  border: 1px solid $border-color;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  >.left-menu {
    float: left;
    width: 168px;
    padding-bottom: 90px;
    z-index: 2;
    >.menu-head {
      position: relative;
      h3 {
        line-height: 14px;
        margin: 0;
        padding: 15px 10px;
        font-size: 14px;
        font-weight: 300;
        border-bottom: 1px solid $border-color;
      }
      >.more {
        position: absolute;
        top: 50%;
        right: 10px;
        height: 24px;
        margin-top: -12px;
        >i {
          line-height: 24px;
          font-size: 18px;
        }
      }
    }
    >.menu-add-box {
      width: 166px;
      padding: 10px;
      background-color: #fff;
      border-bottom: 1px solid $border-color;
    }
    input.add-input, .btn {
      border-radius: 0;
    }
    >ul.item-list {
      >li {
        position: relative;
        height: 48px;
        >.icon-group{
          position: absolute;
          right: 10px;
          top: 14px;
          .fa{
            cursor: pointer;
            padding: 2px;
            color:#666;
            display: none;
          }
        }
        >.edit-inline{
          padding: 9px 10px;
          display: block;
        }
        .input-sm{
          width: 80px;
        }
        >a {
          display: block;
          position: relative;
          padding: 15px 10px;
          color: #333;
          cursor: pointer;
          &:hover {
            background-color: #f0f0f0;
            &:after {
              content: "";
              position: absolute;
              top: 3px;
              right: -19px;
              width: 0;
              height: 0;
              border: 10px solid transparent;
              border-left: 10px solid #f0f0f0;
              z-index: 2;
            }
          }
        }
        &:hover .fa,&.active .fa{
          display:inline-block;
        }
        &.active, {
          background-color: #f0f0f0;
          a {
            &:after {
              content: "";
              position: absolute;
              top: 3px;
              right: -19px;
              width: 0;
              height: 0;
              border: 10px solid transparent;
              border-left: 10px solid #f0f0f0;
              z-index: 2;
            }
          }
        }
        &:last-child {
          border-bottom-width: 0;
          >a {
            border-bottom-width: 0;
          }
        }
      }
    }
  }
  >.right-main {
    position: relative;
    margin: 0 0 0 20px;
    background-color: #fff;
    border-left: 1px solid $border-color;
    overflow: hidden;
    .role-header{
      margin-bottom: 15px;
      padding:7px 10px;
      border-bottom: 1px solid #eee;
    }
    &.form-model {
      .list-tr {
        .list-th {
          line-height: 36px;
        }
      }
    }
  }
}

ul.list-tree {
  >li {
    position: relative;
    padding: 6px 0 6px 0px;
    border-left: 1px solid $border-color;
    >.level-1{
      >label{
        font-weight: 600;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -1px;
        width: 19px;
        height: 14px;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
      }
      &:first-child {
        &:before {
          border-left-color: #fff;
        }
      }
      &:last-child {
        border-left-width: 0;
        padding-left: 20px;
        &:before {
          left: 0;
        }
      }
    }
    >.level-2{
      margin-left: 50px;
      clear: both;
    }
    >.level-3{
      margin-left: 100px;
    }
    >.level-4{
      margin-left: 150px;
    }
    >.level-5{
      margin-left: 200px;
    }
    >.level-6{
      margin-left: 250px;
    }
  }
}
