.team-box{
  .team-img-box{
    width:80px;
    height:80px;
    border:1px solid #dedede;
  } 
}
.invite-view{
    .phone-panel {
        float: left;
        height: 100%;
        overflow-y: auto;
        margin: 0 20px;
        width: 336px;
    }
    .edit-panel{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .below{
        background:url(/image/team_bg.png) no-repeat;
        /*background-size:100%;*/
        display:block;
        margin:0 auto;
    }
    .InviteWap{
        background-Color: rgba(0, 0, 0, 0.6);
        width:100%;
        display:block;
    }
    .InviteWap .top{
        padding:1.9rem 0rem;
        width:100%;
        display:block;
        background-Color: rgba(0, 0, 0, 0.4);
    }
    .InviteWap p{
        font-size: 1.2rem;
    }
    .InviteWap .second{
        width:100%;
        padding: 1.6rem 0;
    }
    .InviteWap p{
       font-family: "微软雅黑";
       color: #ffffff;
       padding:0;
       margin:0 0 0 1.2rem;
    }
    .content .code{
        border: 1px solid #757f80;
        width: 20rem; 
        padding: 1.2rem;
        display: block;
        z-index: 99999;
        margin: 0 auto;
    }
    .content .code img{
        background:url(/image/code.png);
        width:18rem;
        height:18rem;
        background-size:18rem 18rem;
        display:block;
        margin:0 auto;

    }
    .content .InCode{
        padding:1.5rem 0 2rem;
    }
    .InviteWap .content .InCode{
        text-align: center;
        margin:0;
        color:#999999;
    }
    .content .newCode{
        padding:4rem;
    }
    .content .newCode i img{
        width:9.5rem;
        height:2.5rem;
        display:block;
        margin:0 auto;
        border:none;

    }
    .edit-template{
    float: left;
    margin-bottom: 25px;
    .img-inner{
      border: 1px solid $border-color;
      width: 220px;
      height: 334px;
      margin-top: 10px;
      background-size: 100% 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .system-template{
    ul{
      li{
        float: left;
        border: 1px solid $border-color;
        margin-bottom: 20px;
        margin-right: 20px;
        overflow: hidden;
        padding: 10px;
        position: relative;
        width: 190px;
        img{
          width: 100%;
          height: 100%;
        }
        &.active{
          .tpls-acitons {
            height: 100%;
            top: 0;
            bottom: 0;
            .fa{
              color: #06bf04;
              position: absolute;
              font-size: 24px;
              top: 48%;
            }
          }
        }
        &:hover,&.active{
          .tpls-acitons {
            display: block;
          }
        }
        .tpls-acitons{
          display: none;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 40px;
          padding: 5px 0;
          text-align: center;
          background: rgba(0,0,0,.4);
        }
      }
    }
  }
}
/*.teamer-navs{
  ul{
    background-color: #ffffff;
  }
  ul li {
    position: relative;
    float: left;
    padding: 2rem 0;
    width: 50%;
    height: 7rem;
    line-height: 1;
    text-align: center;
    font-size: 1.4rem;
    border-style: solid;
    border-color: #eee;
    border-width: 0 0 1px;
  }
  ul li a {
      display: block;
      color: #272636;
  }
  ul li .title {
      font-size: 1.6rem;
      margin-bottom: .6rem;
  }
  ul li .sub {
      font-size: 1.2rem;
      color: #999;
  }
    
}*/
.view-team{
    .Upper{
        background: url(/image/header3-bg.png) no-repeat;
        width: 100%;
        background-size: cover;
        position: relative;
        box-sizing: border-box

    }
    .Upper a{
        display:block;
    }
    .Upper .title i .team_logo{
        width:6rem;
        height:6rem;
        border-radius: 50px;
        display: block;
        margin: 0 auto;
        
    }
    .InUpper .title i{
        position: relative;
        padding: 0;
        margin: 0;
        display: block;
        width:6.5rem;
        height:6.5rem;
        margin:0 auto;
    }
  .InUpper .title i .captains{
        display:block;
        width:1.8rem;
        position: absolute;
        right: -0.3rem;
        top: 0.2rem;
    }
    .InUpper{
        width: 100%;
        padding: 7rem 0;
        padding-top: 3rem;
        padding-bottom: 10rem;
        box-sizing:border-box;
    }
    .Upper .name span{
        display:block;
        text-align:center;
        color:#fff;
        margin-top: 0.5rem
    }
    .royalty{
        width: 100%;
        display:block;
        background-Color: rgba(0, 0, 0, 0.7);
        position: absolute;
        bottom: 0px;
        left:0px;
        overflow:hidden;
    }
    .royalty .left{
        float:left;
        width:50%;
        border-right:1px solid #65605E;
    }
    .royalty .right{
        float:left;
        width:50%;
    }
    .royalty .left h2{
        text-align: center;
        color:#FDFDFD;
        font-weight:normal;
        font-size:1.8rem;
        margin:0;
        padding:0;
    }
    .royalty .right h2{
        text-align: center;
        color:#FDFDFD;
        font-weight:normal;
        font-size:1.8rem;
        margin:0;
        padding:0;
    }
    .royalty .left p{
        display:block;
        text-align: center;
        color:#666666;
        margin:0;
        padding:0;

    }
    .royalty .right p{
        display:block;
        text-align: center;
        color:#666666;
        margin:0;
        padding:0;
    }
    .team_name{
        width:100%;
        height:80px;
        display:block;
        border-bottom: 1px solid #F0F0F0;
        background: #fff;
        position: relative;

    }
    .team_name a{
        color:#333;
        overflow: hidden;
        display:block;
    }
    .logo{
        float: left;
        display: inline-block;
    }
    .team_name .logo_name{
        padding-top: 10px;
        float: left;
    }
    .team_name .logo_name p{
        color:#D0D0D0;
    }
    .logo_name i:after{
        content:'\e68c';
        font-size: 1.8rem;
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        margin-bottom:5px;            
    }
    .logo_name h4{
        font-weight: normal;
        margin:0;
        padding:0;
    }
    .logo img{
        width: 60px;
        height: 60px;
        display: block;
        background-size:60px 60px;
        margin: 10px 10px 10px;    
    }
    .view-team a .logo_name {
        padding:0.5rem 0rem;
        float: left;
        display: inline-block;
    }
    .view-team .logo_name h4{
        padding:0;
        margin: 0.7rem 0rem;
    }
    .view-team .logo_name p{
        padding:0;
        margin: 0.7rem 0rem;
    }
    .content{
        width:100%;
        display:block;
        background:#fff;
    }
    .InContent{
        overflow: hidden;
        width:100%;
    }
    .InContent a{
        color:#333;
        position: relative;
        display:block;
    }
    .content li{
        float: left;
        width: 33.33%;
        text-align: center;
        margin-top: 1rem;
    }
    .content .InContent li .first{
        width:5rem;
        height:5rem;
        background-image: url(/image/team-icon01.png);
        background-size:5rem 5rem;
        display: inline-block;
    }
    .content .InContent li .number{
        position: absolute;
        top: -8.5rem;
        right: -2.7rem;
        min-width: 1.6rem;
        height: 1.6rem;
        line-height: 1.4rem;
        border: 1px solid #ff0000;
        border-radius: 50%;
        color: #fff;
        background: #ff0000;
    }
    .content .InContent li .second{
        width:5rem;
        height:5rem;
        background-image: url(/image/team-icon02.png);
        background-size:5rem 5rem;
        display: inline-block;

    }
    .content .InContent li .third{
        width:5rem;
        height:5rem;
        background-image: url(/image/team-icon03.png);
        background-size:5rem 5rem;
        display: inline-block;

    }
    .content .InContent li a p{
        margin: 0rem;
        line-height: 3rem;
    }
    .main{
        margin-top:15px;
    }
    .main .Inmain p i{
       display: inline-block;
       float: left;
       margin:0 20px;
       font-size: 1.8rem;
       line-height:1.8rem;
    }
    .main .Inmain p{
       position: relative; 
    }
    .main{
       background:#fff; 
    }
    p{
        padding:0px;
        margin:12px 0px;
    }
    .main .Inmain li{
        border-bottom:1px solid #f0f0f0;
        position: relative;
        display:block;
        margin:0px;
        padding:0px;
    }
   .main .Inmain a{
         text-decoration:none;
         color:#333333;
         overflow:hidden;
   }
   .main .Inmain div:before{
        content: '\e68c';
        font-size: 1.6rem;
        position: absolute;
        right: 1rem;
        top:1rem;
        display:inline-block;
   }
   .main .Inmain span{
        color:#D0D0D0;
        position: absolute;
        right: 4rem;
        bottom: 0rem;
   }
}