.timeline {
  li {
    display: table-cell;
    width: 1%;
    text-align: center;
    position: relative;
    .timeline-title {
      font-weight: 700;
    }
    .timeline-node {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 6px 0;
      line-height: 22px;
      background: #999;
      color: #fff;
      border-radius: 100%;
      z-index: 2;
    }
    .timeline-time {
      color: #999;
    }
    &:first-child::before,
    &:last-child::after {
      width: 0;
    }
    &::before,
    &::after {
      position: absolute;
      left: 0;
      top: 32px;
      display: block;
      content: ' ';
      width: 50%;
      height: 4px;
      background: #999;
      z-index: 1;
    }
    &::after {
      left: 50%;
    }
    &.timeline-past::before,
    &.timeline-past::after,
    &.timeline-past .timeline-node {
      background: #5AB2ED;
    }
    &.timeline-past .timeline-title {
      color: #5AB2ED;
    }
  }
}