$font-size14:14px;
$font-size16:16px;
.ump-wraper{
	.wp-config{
		 background: #f4f4f4;
	}
	.wp-widget{
		h1{
			margin: 0;
		    padding: 18px 60px 0;
		    height: 55px;
		    line-height: 36px;
		    font-size:  $font-size16;
		    color: #fff;
		    font-weight: 700;
		    text-align: center;
		    background: url(/image/titlebar.png) no-repeat;
		    background-size: 320px 55px;
		}
	}
	.phone-model{
		float:left;
		.wp-config{
			min-height:468px;
		}
	}
	.promote-card{
		height: 130px;
	    background: #55bd47;
	    padding: 10px;
	    position: relative;
	    text-align: center;
	    color: #fff;
	    .logo{
	    	  width: 36px;
			  height: 36px;
			  border-radius: 50%;
			  overflow: hidden;
			  border: 1px solid #fff;

			  img{
			  	    width: 100%;
  					height: 100%;
			  }
	    }
	    .companyName{
	    	position: absolute;
			top: 20px;
			left: 60px;
			font-size:$font-size16;
	    }
	    .promote-tit{
	    	font-size: $font-size16;
  			margin-top: 5px;
	    }
	    .promote-condition{
	    	margin-top: 10px;
  			color: rgba(255,255,255,0.8);
  			font-size:$font-size14;
	    }
	    .promote-date{
	    	margin-top: 5px;
  			color: rgba(255,255,255,0.6);
  			font-size:$font-size;
	    }
	}

  	.coupon{
	  margin: 50px 10px 10px;
	  .coupon-logo{
		border-bottom: 1px dashed #e7e7eb;
		position: relative;
		border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
		background-color: #fff;
		padding: 21px 12px 12px;
		min-height: 137px;
		height: auto;
		text-align: center;
		.logo_area {
		  position: relative;
		  margin-bottom: 7px;
		  line-height: 42px;
		  color: #8d8d8d;
		  margin-top: -40px;
		  .logo {
			display: block;
			width: 38px;
			height: 38px;
			padding-top: 0;
			margin: 0 auto;
			border-radius: 22px;
			-moz-border-radius: 22px;
			-webkit-border-radius: 22px;
			float: none;
			border: 1px solid #e7e7eb;
			img {
			  display: block;
			  width: 100%;
			  height: 100%;
			  border-radius: inherit;
			  -moz-border-radius: inherit;
			  -webkit-border-radius: inherit;
		  }
		}
	  }
		.msg_area{
		  .tick_msg {
			margin-bottom: 6px;
			.card_name {
			  font-weight: normal;
			  font-size: 28px;
			  word-break: break-word;
			  word-wrap: break-word;
			}
			span{
			  display: inline-block;
			  overflow: visible;
			  padding: 0 22px;
			  height: 30px;
			  line-height: 30px;
			  vertical-align: middle;
			  text-align: center;
			  text-decoration: none;
			  border-radius: 3px;
			  -moz-border-radius: 3px;
			  -webkit-border-radius: 3px;
			  font-size: 14px;
			  border-width: 1px;
			  border-style: solid;
			  cursor: pointer;
			  min-width: 60px;
			  color: #fff;
			}
		  }
		}
	  }


	  .msg_card_cell{
		background-color: #fff;
		.list {
		  margin: 0 10px;
		  li{
			position: relative;
			display: block;
			  padding: 10px 0px;
			border-bottom: 1px solid #e7e7eb;
			.title{
				margin: 0px;
				padding: 0px;
				height: 30px;
				line-height: 30px;
				color: #222;
				font-size: 14px;
			}
		  	.text{
				height: 24px;
				line-height:24px;
			}
		  	.img{
				height: 120px;
				overflow: hidden;
				img{
					display: block;
					width: 100%;
				}
			}
			i{
			  display: block;
			  position: absolute;
			  top: 16px;
			  right: 0px;
			  font-size: 18px;
			  color: #999;
			}
		  }
		  li:last-child{
			border-bottom:none;
		  }
		}
	  }
	  .msg_card_cell.shop_detail {
		border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		-webkit-border-radius: 0 0 5px 5px;
	  }
	  .msg_card_cell.custom_detail {
		 margin-top: 1em;
		 border-radius: 5px;
		 -moz-border-radius: 5px;
		 -webkit-border-radius: 5px;
	   }
	}

	.dot{
	  background: url(/image/coupon_bg.png)0% 100%/6.5% 60% #55bd47 repeat-x;
	  height:10px;
	}
	.promote-desc{
	  background: #fff;
	  border-bottom: 1px #ddd solid;
	  padding: 10px;
	  color: #666;
	  font-size: 1.2rem;
	  p{
	  	margin:0px;
	  }
	}
}
.get_box,.use_box{
	width: 100%;
    height:300px;
}

.processor_bar {
  margin-bottom: 20px;
  border-top: 1px solid #e7e7eb;
  background-color: #fff;
  background-image: none;
  border-color: #e6e7ea;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.upm-tips{
	padding-bottom: 6px;
	color: #8d8d8d;
	font-weight: 400;
	font-style: normal;
}
.upm-footer{
	padding: 10px 0;
	text-align: center;
	background-color: #fbfbfb;
}

.upm-media{
	width: 396px;
	padding: 10px;
	position: relative;
	border: 1px solid #d9dadc;
	background-color: #fff;
	.upm-media-add{
		.upm-media-add-img{
			margin: 10px 0;
			padding: 0;
			text-align: center;
			position: relative;
			z-index: 0;
			min-height: 60px;
			background-color: #f4f5f9;
			.upm-media-add-abut{
				width: 38px;
				height:34px;
				position: absolute;
				top:50%;
				left: 50%;
				margin-top: -17px;
				margin-left: -19px;
				overflow: hidden;
				span{
					display: block;
					position: relative;
					width: 38px;
					height:34px;
					i{font-size: 34px;}
					color: #999;
					&:hover{color:#07d;}
					input{
						position: absolute;
						top: 0;
						right: 0;
						margin: 0;
						opacity: 0;
						-ms-filter: 'alpha(opacity=0)';
						font-size: 200px;
						direction: ltr;
						cursor: pointer;
					}
				}
			}
		}
		.upm-media-add-but{
			padding: 10px 0px;
		}
	}
	.upm-media-mask{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.2);
		position: absolute;
		top:0px;
		left: 0px;
		.upm-media-mask-con{
			width: 150px;
			height: 32px;
			line-height: 32px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -80px;
			margin-top: -16px;
			background-color: rgba(0,0,0,.75);
			a{
				display: inline-block;
				margin: 0 5px;
				font-size: 20px;
				vertical-align: top;
				width: 25px;
				height: 32px;
				line-height:32px;
				cursor: pointer;
				text-align: center;
			}
		}
	}
	.upm-media-addBut{
		border: 1px dashed #d9dadc;
		overflow: hidden;
		a{
			display: block;
			width: 100%;
			height: 68px;
			line-height: 68px;
			text-align: center;
			font-size: 34px;
			color: #999;
			background-color: #fbfbfb;
			&:hover{
				color:#333 ;
			}
		}
	}
	.upm-media-list{
		.upm-media-item{
			width: 100%;
			height: auto;
			overflow: hidden;
			margin: 10px 0;
			position: relative;
			.upm-media-item-img{display: block;width: 100%;}
			.upm-media-item-txt{
				background-color: #fbfbfb;
				padding: 10px;
				max-height: 6em;
				height: auto;
				overflow-y: auto;
			}
			.upm-media-mask{
				display: block;
			}
			&:hover .upm-media-mask{
				display: block;
			}
		}
	}
}

.app-sidebar{
	position: relative;
    margin-left: 360px;

    .arrow,.arrow:after{
        width: 0px;
	    height: 0px;
	    border-style: solid;
	    border-width: 8px 10px 8px 0;
	    border-color: transparent #d1d1d1 transparent transparent;
	    position: absolute;
	    left: -10px;
	    top: 19px;
    }
    .mg_25{
    	margin-left:25px;
    }
    .arrow{
    	&:after {
		    content: "";
			border-right-color: #fbfbfb;
			left: 1px;
			top: -8px;
		}
    }
    .app-sidebar-inner{
    	overflow: hidden;
        padding: 12px 10px;
		min-height: 54px;
		border-radius: 5px;
		border: 1px solid #e5e5e5;
		.ui-select-dropdown{
			background:#FEFEFE;
			.select2-results li{

				display: inline-block;
				.ui-select-choices-row-inner{
					div{
						width: 30px;
						height: 30px;
						border: 2px solid #fff;
					}
				}
			}
		}
		.shop-logo{
			width: 60px;
  			height: 74px;
		}
		.control-label{
			float:left;
		}
		.red{
			color:red;
		}
		.page_footle{
				  margin-top: 10px;
				  border-top: 1px solid #e8e8e8;
				  text-align: right;
				  padding-top: 10px;
			}
		.list-tr{
 			padding:0;
			.controls_w200{
				width:250px;
				display: table;
			}
			.radio{
    				line-height: 27px;
					padding-left:10px;
					padding-top:3px;
				}
			.controls{
				margin-left:100px;
				margin-bottom: 10px;
				.checkbox{
					padding-left:10px;
					label{
						width:auto;
					}
				}
			}

			label{
				width:110px;
			}

		}
    }
}
.page-promocode{
	.ump-title{
		line-height: 40px;
		padding: 0 30px;
		margin: 0 auto 10px;
		font-size: $font-size14;
		background: #f9f9f9;
		position: relative;
		&:before{
		  content: '\f1ce';
		  position: absolute;
		  top: 50%;
		  left: 10px;
		  height: 24px;
		  line-height: 24px;
		  margin-top: -12px;
		  font-family: FontAwesome;
		  font-size: 12px;
		  font-style: normal;
		  font-weight: 400;
		  }
	}
}
.upm-covers{
	margin-top: 10px;
	width: 290px;
	height: 120px;
	img{
		display: block;
		width: 100%;
		height:100%;
	}
}

.order_form,.pintuan-form{
	.gray {
  		color: #999;
	}
	.full-box{
	    min-width: 660px;
  		padding: 10px;
  		background-color: #f9f9f9;
	}
	.full-box{
		padding: 10px;
		.sku_table{
			margin-bottom: 10px;
  			background-color: #fff;
  			border: 1px solid #eee;
  			.pl100{
	  				padding-left: 100px;
    				text-align: left;
	  			}
	  		th{
	  			background-color: #fff; 
	  			text-align: center;
	  			color: #333333;
	  		}
	  		tbody{
		  		td{
		  			vertical-align: middle;
		  			.checkbox{
  						label{
  							span{
  								input{
  									  display: inline-block;
									  width: 50%;
									  margin: 0px 5px;
  								}
  							}
  						}
		  			}
		  		}
	  		}
	  		
		}
	}
	.mg20{
		margin-left: 20px;
	}
}

.bargains-form,.pintuan-form {
	.wd170{
		width: 170px;
	}
	.mt10{
		margin-top:10px;
	}
	.wd400{
		width: 400px;
	}
	.wd780{
		width: 780px;
	}
	.wd150{
		width: 150px;
	}
	.list-tr{
		margin-left: 100px;
	}
	.goods-info{
		position: relative;
		height: 80px;
	}
	.goods-img{
		width: 80px;
		height: 80px;
		position: absolute;
	}
	.goods-name{
		margin-left: 90px;
	}
	.bargain-name{
		width: 413px;
	}
	.input-money{
		width: 115px;
	}
	.inline-block{
		display: inline-block;
	}
	.left{
		float: left;
	}
	.input-descr{
		margin-left: 10px;
		color: #999;
		float: left;
		line-height: 30px;
		height: 30px;
		display: block;
	}
	.static-text {
		line-height: 30px;
		height: 30px;
  		display: block;
		margin: 0 10px;
	}
	.block{
		display: block;
	}
	.bargain-range,.bargain-role,.bargain-role-button,.bargain-role ul>li{
		margin-bottom: 20px;
	}
}

.bargin-configs .form-group{
	margin-top:10px;
}
.pintuan-form {
	p{
		margin: 0;
	}
	pre{
		color: red;
		margin-bottom: 30px;
		background-color: lightyellow;
	}
}
.auction-add-model {
	.delay_time{
		padding-top: 7px;
    	margin-bottom: 0;
	}
}
.blue{
	color: #07d;
}

.has-error .input-group-btn .btn{
	border-color: #a94442;
	border-left-color: #ccc;
}

.pintuan-list{
	.goods-info{
		position:relative;
		.goods-img{
			position:absolute;
			left:0
		}
		.goods-title{
			margin-left: 70px;
		}
	}
	>tbody+tbody{
		border-top: 0;
	}
	.header-row{
		background-color: #f9f9f9;
	}
}

.auction-list{
	.goods-info{
		position:relative;
		.goods-img{
			position:absolute;
			left:0
		}
		.goods-title{
			margin-left: 70px;
		}
	}
	>tbody+tbody{
		border-top: 0;
	}
	.header-row{
		background-color: #f9f9f9;
	}
	.header-row p{
		margin-bottom: 0px;
	}
	.preview_time{
		color: #0077dd;
	}
	.start_time{
		color: #c30000;
	}
	.finished_time{
		color: #999999;
	}
	.auction-info .goods-title{
		margin-bottom: 75px;
	}
}
.auction-info{
	.goods-image{
		width: 60px;
	    height: 60px;
	    vertical-align: middle;
	    border: 1px solid #F4F2F2;
	    padding: 1px;
	    background-color: #fff;
	}
}
.refund-list {
	>tbody+tbody{
		border-top: 0;
	}
	td{
		vertical-align:middle!important;
	}
	.rowspan-td-left{
		border-left: 1px solid #DED8D8;
	}
	.rowspan-td-right{
		border-right: 1px solid #DED8D8;
	}
	.payment-type+.payment-type{
		margin-top: 10px;
	}
	.payment-type>li+li{
		margin-top: 10px;
	}
	p{
		margin: 0!important;
	}
}