.upload-imglist {
  >li {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    &:hover{
      cursor:move;
      border: 1px #cd6e00 dashed;
    }
    > img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    > i.del-img {
      display: none;
      position: absolute;
      font-size: 18px;
      top: -4px;
      right: -4px;
      cursor: pointer;
      color: #a3a3a3;
      &:hover {
        color: #333;
      }
    }
    &:hover {
      > i.del-img {
        display: block;
      }
    }

  }
}
.add-image{
  .popover{
    display: block;
    max-width: 330px;
    left: 96px;
    top: -12px;
  }
  position: relative;
  .popover-img-remote {
    width: 302px;
    .form-control {
      width: 218px;
    }
  }
}


.modal-img-space {
  height: 420px;
  .remote-url-box{
    width: 220px;
  }
  .search-box {
    width: 160px;
  }
  .modal-body{
    height: 318px;
  }
  .image-list {
    li {
      display: box;
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-pack:center;
      -moz-box-pack:center;
      -webkit-box-align:center;
      -moz-box-align:center;
      position: relative;
      float: left;
      margin: 0 8px 8px 0;
      width: 88px;
      height: 88px;
      cursor: pointer;
      border: 1px solid #ccc;
      padding: 1px;
      &.active {
        border-color: #459ae9;
        &:after {
          position: absolute;
          top: -4px;
          right: -4px;
          color: #2494f2;
          content: "\f058";
          font-size: 18px;
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &:nth-of-type(6n) {
        margin-right: 0;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
      .image-meta{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: RGBA(0,0,0,.4);
        color: #fff;
      }
    }
  }
}
.wb-choice-image{
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: inline-block;
  .add-image-btn{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
  }
  .has-image{
    width: 100%;
    height: 100%;
    display: block;

    img{
      width: 100%;
      height: 100%;
      display: block;
    }
    .foot-choice{
      background-color: rgba(0,0,0,.5);
      color: #fff;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 5px 0;
      text-align: center;
    }
  }
}
.thumb-image{
  width: 90px;
  height: 90px;
  border: 1px solid $border-color;
  display: inline-block;
}