$font-size: 12px;
$body-width: 100%;

$default-color: #333;
$border-color: #eee;
$default-background-color: #f9f9f9;

$link-color: #07d;
$nav-active-color: #0bbc0a;
$nav-active-color: #f60;
//$nav-active-color: #55acee;

$success-color: #4b0;
$success-active-color: #49c800;
$primary-color: #2897E4;
$primary-active-color: #2592DD;
$danger-color: #d9534f;
$warning-color: #f60;

$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;