.weixin-binded {
  position: relative;
  .weixin-qrcode {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    img {
      width: 200px;
      height: 200px;
    }
  }
  form {
    margin-left: 150px;
  }
}
.weixin-bind-form {
  padding-left: 40px;
  ul {
    margin: 0 0 20px 16px;
    li {
      list-style: circle;
      line-height: 32px;
    }
  }
}

.weixin-menu-container {
  .phone-model {
    position: absolute;
    .phone-screen {
      border: 1px solid #E0DFDF;
      background: #ebebeb;
      height: 450px;
      .wxmsg-list {
        height: 352px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px 10px 0;
        &::-webkit-scrollbar {
          width: 0 !important;
        }
      }
    }
  }
}
//msg
.wxmsg-item {
  margin-bottom: 20px;
  position: relative;
  .medit_item_mask{
    display: none;
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &:hover .medit_item_mask{
    display: block;
  }

  .wxmsg-avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: 1px solid #D5D3D3;
    img {
      width: 38px;
      height: 38px;
    }
  }
  .wxmsg-content {
    position: relative;
    float: left;
    border: 1px solid #D5D3D3;
    border-radius: 5px;
    background: #FFF;
    padding: 10px;
    min-height: 40px;
    min-width: 40px;
    max-width: 190px;
    word-break: break-all;
    .arrow-front,
    .arrow-back{
      position: absolute;
      top: 14px;
      border-style: solid;
      border-width: 5px 8px 5px 0;
      border-color: transparent #FFF transparent transparent;
    }
    .arrow-front {
      z-index: 1;
      left: -7px;
    }
    .arrow-back {
      left: -8px;
      border-right: 8px solid #D5D3D3;
    }
    .content-inner {
      img {
        max-width: 100%;
      }
    }
  }

  &.single-news,&.multiple-news {
    border: 1px solid #D5D3D3;
    border-radius: 10px;
    padding: 8px;
    background: #FFFFFF;
    a {
      color: $default-color;
    }
    .wxmsg-item-edit{
      background-color: #f4f4f4;
      border:1px solid #e7e7eb;
      margin-top: 10px;
      border-radius: 5px;
      ul li{
        float: left;
        width: 50%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        a i{
          font-size: 16px;
          color: #999;
        }
        a:hover i{
          color: #000;
        }
      }
    }
    .medit_edit_mask{
      display: none;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: rgba(0,0,0,.5);
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .medit_edit_mask span{
      display: inline-block;
      cursor: pointer;
      margin:0px 10px;
      i{
        font-size: 16px;
      }
      &:hover i{
        color: #fff;
      }
    }
  }
  &.single-news {
    h4 {
      margin: 0 0 8px;
      font-size: 16px;
      overflow: hidden;
    }
    span {
      display: block;
      color: #8c8c8c;
      margin-bottom: 8px;
    }
    .news-img {
      display: block;
      height: 150px;
      overflow: hidden;
      margin-bottom: 10px;
      background: #eee;
      p{
        color: #C0C0C0;
        text-align: center;
        line-height: 150px;
        font-weight: 400;
        font-style: normal;
        background-color: #ECECEC;
        font-size: 16px;
      }
      img {
        width: 100%;
      }
    }
    p {
      color: #8c8c8c;
      font-size: 14px;
    }
    .news-footer {
      border-top: 1px solid #eff1f3;
      a {
        display: block;
        height: 30px;
        line-height: 36px;
        font-size: 14px;
        i {
          height: 30px;
          line-height: 36px;
          font-size: 14px;
          float: right;
          color: #999;
        }
      }
    }
    .medit_edit_mask{
      height: 244px;
      line-height: 244px;
    }
    &:hover .medit_edit_mask{
      display: block;
    }
  }
  &.multiple-news {
    .news-header {
      margin-bottom: 8px;
      position: relative;
      a {
        position: relative;
        display: block;
        height: 150px;
        overflow: hidden;
        p{
          color: #C0C0C0;
          text-align: center;
          line-height: 150px;
          font-weight: 400;
          font-style: normal;
          background-color: #ECECEC;
          font-size: 16px;
        }
        h4 {
          position: absolute;
          bottom: 0;
          width: 100%;
          margin: 0;
          padding: 6px 4px;
          font-size: 16px;
          color: #FFFFFF;
          background: #000;
          opacity: .6;
        }
        img {
          width: 100%;
        }
      }
      .medit_edit_mask{
        height: 150px;
        line-height: 150px;
      }
      &:hover .medit_edit_mask{
        display: block;
      }
    }
    .news-list {
      margin: 0 -8px;
      li {
        position: relative;
        border-top: 1px solid #eff1f3;
        padding: 0 8px;
        a {
          display: table-cell;
          vertical-align: middle;
          width: 200px;
          height: 60px;
          font-size: 14px;
          img {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 5px;
            right: 8px;
          }
          p{
            position: absolute;
            width: 50px;
            height: 50px;
            top: 5px;
            right: 8px;
            color: silver;
            text-align: center;
            line-height: 50px;
            font-weight: 400;
            font-style: normal;
            background-color: #ECECEC;
            font-size: 16px;
          }
        }
        .medit_edit_mask{
          height: 60px;
          line-height: 60px;
        }
        &:hover .medit_edit_mask{
          display: block;
        }
      }

    }
  }
}
.wxmsg-addsub{
  a{
    display: block;
    border: 2px dotted #d9dadc;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    i{
      font-size: 20px;
      color: #d9dadc;
    }
    &:hover{
      border-color: #b3b3b3;
      i{
        color: #b3b3b3;
      }
    }
  }
}
.weixin-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 320px;
  height: 41px;
  border-top: 1px #D5D3D3 solid;
  background: #fafafa;
  .menu-toggle {
    width: 38px;
    height: 40px;
    background: url("/image/weixin-menu-toggle.png") no-repeat 6px 6px;
    background-size: 26px 26px;
    float: left;
  }
  >ul {
    width: 282px;
    height: 40px;
    float: left;
    >li {
      position: relative;
      display: table-cell;
      width: 1%;
      border-left: 1px #D5D3D3 solid;
      height: 40px;
      line-height: 40px;
      text-align: center;
      .menu-arrow {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url("/image/weixin-menu-arrow.png") no-repeat 6px 6px;
        background-size: 8px 7px;
      }
      a {
        display: block;
        font-size: 14px;
        color: #666;
        font-weight: 700;
      }
      .submenu {
        position: absolute;
        left: 50%;
        bottom: 54px;
        width: 120px;
        margin-left: -60px;
        padding: 5px 8px;
        border: 1px #D5D3D3 solid;
        border-radius: 5px;
        background: #fafafa;
        .arrow-front,
        .arrow-back{
          position: absolute;
          left: 54px;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          border-bottom: none;
        }
        .arrow-front {
          z-index: 1;
          bottom: -7px;
          border-top: 8px solid #fafafa;
        }
        .arrow-back {
          bottom: -8px;
          border-top: 8px solid #ccc;
        }
        li {
          height: 36px;
          line-height: 36px;
          border-top: 1px #D5D3D3 solid;
          &:first-child {
            border-top: none;
          }
        }
      }
    }
  }
}

.menu-options {
  border: 1px solid #e7e7eb;
  margin-left: 360px;
  min-height: 560px;
  .mo-side {
    width: 220px;
    float: left;
    border-right: 1px solid #e7e7eb;
    min-height: 560px;
    .om-side-header {
      background: #f8f8f8;
      line-height: 38px;
      padding: 0 12px;
      font-size: 14px;
      border-bottom: 1px solid #e7e7eb;
      a {
        float: right;
        font-size: 16px;
        color: #999;
        &:hover {
          color: $default-color;
        }
      }
    }
    .om-side-content {
      dl {
        border-top: 1px solid #e7e7eb;
        margin: 0;
        &:first-child {
          border-top: none;
        }
        dt.cur,dd.cur{
          background: #f9f9f9;
        }
        dt,dd {
          position: relative;
          line-height: 36px;
          padding: 0 12px 0 15px;
          color: $default-color;
          cursor: pointer;
          &:hover {
            background: #f9f9f9;
            .menu-edit:after {
              display: block;
            }
            .opts a.opts-icon{
              display: inline-block;
            }
          }
          .menu-edit{
            position: relative;
            padding-right: 16px;
            cursor: pointer;
            &:after {
              position: absolute;
              top: -10px;
              right: 0;
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              content: "\f044";
              color: #B8B7B7;
              display: none;
            }
          }
          .opts {
            position: absolute;
            right: 12px;
            a {
              color: #999;
              margin-left: 5px;
              font-size: 14px;
              &:hover {
                color: $default-color;
              }
            }
            a.opts-icon{
              display: none;
            }
            a.menu-stor:hover{
              cursor: move;
            }
          }
        }
        dd {
          .icon-dot {
            font-style: normal;
            color: #d5d5d5;
            -webkit-transform: scale(0.8);
            margin-right: 4px;
          }
          padding-left: 20px;
        }
      }
    }
  }
  .mo-main {
    margin-left: 219px;
    border-left: 1px solid #e7e7eb;
    .om-main-header {
      background: #f8f8f8;
      line-height: 38px;
      padding: 0 12px;
      font-size: 14px;
      border-bottom: 1px solid #e7e7eb;
      .pull-right{
        color:#f60
      }
    }
    .om-main-content {
      padding: 20px;
      text-align: center;
      //overflow: hidden;
      .type-list {
        >a {
          display: inline-block;
          margin: 0 10px 10px;
          div {
            width: 48px;
            height: 48px;
            line-height: 55px;
            background: #C8C8C8;
            border-radius: 100%;
            i {
              font-size: 20px;
              color: #FFFFFF;
            }
          }
          span {
            line-height: 24px;
            color: $default-color;
          }
          &.active,
          &:hover {
            div {
              //background: #488fce;
              background: #60A6E4;
              background: #FF6600;
            }
            span {
              color: #FF6600;
            }
          }
        }
      }
      .menu-action {
        border-top: 1px solid #f2f2f2;
        padding: 20px 0;
        text-align: left;
        .empty-rule {
          text-align: center;
          padding: 40px 0;
        }
        .no-support {
          text-align: center;
          padding: 40px 0;
        }
      }
    }
  }
}

.special-reply {
  margin: 6px 0 0 20px;
  float: left;
  li {
    float: left;
    margin-right: 30px;
  }
}

.wx-reply-rule {
  >li {
    border: 1px solid $border-color;
    margin-bottom: 20px;
    >.rule-head {
      padding: 5px 10px;
      border-bottom: 1px solid $border-color;
      background-color: $default-background-color;
      border-radius: 5px 5px 0 0;
      >h3 {
        float: left;
        margin: 0;
        font-size: 14px;
        span {
          display: inline-block;
          padding: 8px 0;
        }
        input {
          display: none;
        }
      }
      >.action {
        float: right;
        a {
          color: #989898;
        }
      }
      &:hover {
        >.action a {
          color: #459ae9;
        }
      }
    }
    >.rule-body {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40%;
        border-right: 1px solid $border-color;
      }
      h4 {
        font-size: 12px;
        margin: 0;
        border-bottom: 1px dashed $border-color;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
      .form-group {
        margin: 0 0 5px;
        .control-label {
          padding-left: 0;
          padding-right: 0;
          text-align: left;
        }
      }
      .rule-keywords {
        padding: 10px;
        width: 40%;
        float: left;
        .keyword {
          border-radius: 4px;
          border: 1px solid $border-color;
          padding: 4px 8px;
          margin-right: 4px;
        }
        .keywords-input {
          display: none;
        }
      }
      .rule-replies {
        padding: 10px;
        width: 60%;
        float: left;
        .reply-list {
          list-style-type: decimal;
          li {
            margin-left: 20px;
            position: relative;
            padding: 0 110px 10px 5px;
            .reply-content {
              vertical-align: top;
              .reply-type {
                border: 1px solid #f37800;
                border-radius: 4px;
                padding: 2px 4px;
              }
              .reply-list-img{
                width: 90px;
                height: 90px;
                border: 1px solid #ccc;
                padding: 5px;
              }
            }
            .reply-action {
              display: none;
              text-align: right;
              position: absolute;
              top: 0;
              right: 0;
              a {
                color: #989898;
              }
            }
            &:hover {
              .reply-action a {
                color: #459ae9;
              }
            }
          }
        }
      }
    }
    .rule-foot {
      border-top: 1px solid $border-color;
      text-align: center;
      padding: 5px 10px;
      display: none;
    }
    &.editing {
      >.rule-head {
        >h3 {
          >span {
            display: none;
          }
          >input {
            display: block;
          }
        }
        >.action {
          .rule-edit {
            display: none;
          }
        }
      }
      .rule-body {
        .rule-keywords {
          .keywords-overview {
            display: none;
          }
          .keywords-input {
            display: block;
          }
        }
        .rule-replies {
          .reply-list {
            li {
              .reply-action {
                display: block;
              }
            }
          }
        }
      }
      .rule-foot {
        display: block;
      }
    }
  }
}

.wxmsg-falls {
  .falls-col {
    float: left;
    width: 250px;
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
    .wxmsg-item {
      &.single-news {
        h4 {
          margin: 0 0 5px;
          font-size: 14px;
        }
        .news-img {
          height: 100px;
          margin-bottom: 5px;
        }
        p {
          font-size: 12px;
          margin-bottom: 5px;
        }
        .news-footer {
          a, a i {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.media-container {
  margin-bottom: 60px;
  &.media-container-action-fixed {
    padding-bottom: 51px;
  }
  .phone-model {
    position: absolute;
    .wxmsg-editing {
      background: #ebebeb;
      padding: 20px 10px;
      .wxcard {
        position: relative;
        padding: 10px 0;
        margin: 0 10px;
        border-radius: 8px;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        .card-inner {
          background-color: #55bd47;
          padding: 10px;
          color: #fff;
          border-radius: 8px 8px 0 0;
          .card-tile {
            font-size: 12px;
            text-align: right;
          }
          .card-name {
            padding: 30px 0;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
          }
        }
        .card-inner.green{
          background-color: #55bd47;
        }
        .card-inner.blue{
          background-color: #0000FF;
        }
        .card-inner.black{
          background-color: #000;
        }
        .card-inner.white{
          background-color: #fff;
        }
        .card-logo {
          position: absolute;
          left: 10px;
          bottom: 16px;
          padding: 6px;
          background-color: #fff;
          border-radius: 50%;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        .card-time {
          padding: 10px;
          background-color: #fff;
          color: #999;
          text-align: right;
          border-radius: 0 0 8px 8px;
        }
      }
      .wxmenu {
        >.layout {
          margin-bottom: 10px;
          border: 0 solid $border-color;
          border-width: 1px 0;
          >.item {
            padding: 0 10px;
            background-color: #fff;
            >a {
              display: block;
              padding: 10px 0;
              line-height: 1.8;
              color: $default-color;
              border-bottom: 1px solid $border-color;
              cursor: pointer;
            }
            &:last-child {
              >a {
                border-bottom-width: 0;
              }
            }
          }
        }
      }
    }
  }
  .edit-panel {
    margin-left: 360px;
    .edit-content {
      border: 1px solid #eee;
      border-radius: 10px;
      position: relative;
      .form-horizontal {
        margin: 10px;
        textarea, .cke {
          margin-top: 7px;
          min-height: 120px;
        }
      }
      .shop-logo {
        width: 60px;
        height: 74px;
      }
      .form-head {
        >h3 {
          font-size: 15px;
        }
      }
      .arrow,.arrow:after{
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 12px 15px 12px 0;
        border-color: transparent #eee transparent transparent;
        position: absolute;
        left: -15px;
        top: 35px;
      }
      .arrow:after{
        content: "";
        border-right-color: #fff;
        left: 1px;
        top: -12px;
      }
    }
    &.fixed {
      position: fixed;
      top: 112px;
      height: 100%;
      padding-bottom: 112px;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
}

.card-bgcolor{
  position: relative;
  .card-bgcolor-box{
    float: left;
    width: 60px;
    height: 20px;
    margin-right: 5px
  }
  .dropdown-menu{
    width: 190px;
    padding: 10px 0 6px 0;
    li{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      .card-bgcolor-list{
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}

.form-actions-fixed {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  >.form-actions {
    margin: 0 20px 0 200px;
  }
}
/*消息模板*/
.template-alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}