.widget-mod {
  margin-bottom: 20px;
  &.bordered{
    border: 1px solid $border-color;
    .widget-head{
      background-color: #f9f9f9;
    }
  }
  .widget-head {
    position: relative;
    padding: 10px 10px 5px;
    margin-bottom: 5px;
    line-height: 20px;
    //background: $default-background-color;
    border-bottom: 1px solid $border-color;
    .widget-title {
      display: inline-block;
      margin: 0 15px 0 0;
      font-size: 14px;
      line-height: 20px;
      i {
        margin-right: 5px;
        color: #F60;
      }
    }
    .widget-nav {
      display: inline-block;
      li {
        display: inline-block;
        margin-right: 5px;
      }
    }
    .widget-help {
      position: absolute;
      right: 10px;
      top:11px;
      i {
        font-size: 18px;
        color: #bbb;
      }
    }
  }
  .widget-body {
    //border: 1px solid $border-color;
    padding: 10px;
  }
}